WCFAssignment1/Connected Services/HttpServiceReference/BasicHttp.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8081/BasicHttp.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HttpServiceProject" />
  <xs:element name="SayHello">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SayHelloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SayHelloResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpeningJobs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OpeningJobsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HttpServiceProject" minOccurs="0" name="OpeningJobsResult" nillable="true" type="q1:JobModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpeningJobsByRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpeningJobsByRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HttpServiceProject" minOccurs="0" name="OpeningJobsByRoleResult" nillable="true" type="q2:JobModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Addition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firstNumber" type="xs:decimal" />
        <xs:element minOccurs="0" name="secondNumber" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdditionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AdditionResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Subtraction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firstNumber" type="xs:decimal" />
        <xs:element minOccurs="0" name="secondNumber" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubtractionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubtractionResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>