WCFAssignment1/Connected Services/HttpServiceReference/BasicHttp.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BasicHttp" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8081/BasicHttp.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8081/BasicHttp.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8081/BasicHttp.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HttpServiceProject" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBasicHttp_SayHello_InputMessage">
    <wsdl:part name="parameters" element="tns:SayHello" />
  </wsdl:message>
  <wsdl:message name="IBasicHttp_SayHello_OutputMessage">
    <wsdl:part name="parameters" element="tns:SayHelloResponse" />
  </wsdl:message>
  <wsdl:message name="IBasicHttp_OpeningJobs_InputMessage">
    <wsdl:part name="parameters" element="tns:OpeningJobs" />
  </wsdl:message>
  <wsdl:message name="IBasicHttp_OpeningJobs_OutputMessage">
    <wsdl:part name="parameters" element="tns:OpeningJobsResponse" />
  </wsdl:message>
  <wsdl:message name="IBasicHttp_OpeningJobsByRole_InputMessage">
    <wsdl:part name="parameters" element="tns:OpeningJobsByRole" />
  </wsdl:message>
  <wsdl:message name="IBasicHttp_OpeningJobsByRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:OpeningJobsByRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IBasicHttp_Addition_InputMessage">
    <wsdl:part name="parameters" element="tns:Addition" />
  </wsdl:message>
  <wsdl:message name="IBasicHttp_Addition_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdditionResponse" />
  </wsdl:message>
  <wsdl:message name="IBasicHttp_Subtraction_InputMessage">
    <wsdl:part name="parameters" element="tns:Subtraction" />
  </wsdl:message>
  <wsdl:message name="IBasicHttp_Subtraction_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubtractionResponse" />
  </wsdl:message>
  <wsdl:portType name="IBasicHttp">
    <wsdl:operation name="SayHello">
      <wsdl:input wsaw:Action="http://tempuri.org/IBasicHttp/SayHello" message="tns:IBasicHttp_SayHello_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBasicHttp/SayHelloResponse" message="tns:IBasicHttp_SayHello_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OpeningJobs">
      <wsdl:input wsaw:Action="http://tempuri.org/IBasicHttp/OpeningJobs" message="tns:IBasicHttp_OpeningJobs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBasicHttp/OpeningJobsResponse" message="tns:IBasicHttp_OpeningJobs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OpeningJobsByRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IBasicHttp/OpeningJobsByRole" message="tns:IBasicHttp_OpeningJobsByRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBasicHttp/OpeningJobsByRoleResponse" message="tns:IBasicHttp_OpeningJobsByRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Addition">
      <wsdl:input wsaw:Action="http://tempuri.org/IBasicHttp/Addition" message="tns:IBasicHttp_Addition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBasicHttp/AdditionResponse" message="tns:IBasicHttp_Addition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Subtraction">
      <wsdl:input wsaw:Action="http://tempuri.org/IBasicHttp/Subtraction" message="tns:IBasicHttp_Subtraction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBasicHttp/SubtractionResponse" message="tns:IBasicHttp_Subtraction_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBasicHttp" type="tns:IBasicHttp">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SayHello">
      <soap:operation soapAction="http://tempuri.org/IBasicHttp/SayHello" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpeningJobs">
      <soap:operation soapAction="http://tempuri.org/IBasicHttp/OpeningJobs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpeningJobsByRole">
      <soap:operation soapAction="http://tempuri.org/IBasicHttp/OpeningJobsByRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Addition">
      <soap:operation soapAction="http://tempuri.org/IBasicHttp/Addition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subtraction">
      <soap:operation soapAction="http://tempuri.org/IBasicHttp/Subtraction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BasicHttp">
    <wsdl:port name="BasicHttpBinding_IBasicHttp" binding="tns:BasicHttpBinding_IBasicHttp">
      <soap:address location="http://localhost:8081/BasicHttp.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>