WCFAssignment1/Connected Services/HttpServiceReference/BasicHttp2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HttpServiceProject" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HttpServiceProject" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="JobModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="JobDetailList" nillable="true" type="tns:ArrayOfJobDetail" />
      <xs:element minOccurs="0" name="JobRole" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobModel" nillable="true" type="tns:JobModel" />
  <xs:complexType name="ArrayOfJobDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JobDetail" nillable="true" type="tns:JobDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJobDetail" nillable="true" type="tns:ArrayOfJobDetail" />
  <xs:complexType name="JobDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="JobDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JobID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JobRole" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobDetail" nillable="true" type="tns:JobDetail" />
</xs:schema>